body {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  color: #2b2828;
  font-size: 16px;
  vertical-align: middle;
  background: #24b9ab;
  /* background-image: linear-gradient(to right, #009688, #21b0f3); */

}

.container {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.container tbody th {
  text-align: center;
}
.field {
  padding: 5px;
  display: inline-block;
}

table {
    width: 100%;
}
.table-header {
    background-color: #2b2828;
    color: #fff;
    font-weight: bold;
    border: solid;
    border-width: medium;
    border-color: #2b2828;
}
tr:nth-child(even) {
  background-color: #756969;
  color: #fff;
}
tr:nth-child(odd) {
  background-color: #8c8787;
  color: #fff;
}

button {
  min-width: 150px;
  min-height: 35px;
  font-weight: bold;
  color: #2b2828;
  border: solid;
  border-radius: 5px;
  border-width: medium;
  background-color: #24b9ab;
  border-color: #2b2828;
  cursor: pointer;
}
button:hover {
}
.button-new:hover {
  background-color: #0dd215;
}
.button-delete:hover {
  background-color: #e91e63;
  color: #fff;
}
.button-edit:hover {
  background-color: #ffeb3b;
}
.button-stock:hover {
  background-color: #2b2828;
  color: #fff;
}

input {
  text-align: center;
}

.bold {
  font-weight: bold;
}
